<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Apple</string>
		<key>price</key>
		<integer>12</integer>
		<key>onSale</key>
		<false/>
		<key>perishable</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Rice</string>
		<key>price</key>
		<integer>23</integer>
		<key>onSale</key>
		<true/>
		<key>perishable</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Bread</string>
		<key>price</key>
		<integer>10</integer>
		<key>onSale</key>
		<false/>
		<key>perishable</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Napkins</string>
		<key>price</key>
		<integer>5</integer>
		<key>onSale</key>
		<false/>
		<key>perishable</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Soap</string>
		<key>price</key>
		<integer>15</integer>
		<key>onSale</key>
		<false/>
		<key>perishable</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Milk</string>
		<key>price</key>
		<integer>12</integer>
		<key>onSale</key>
		<false/>
		<key>perishable</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Water</string>
		<key>price</key>
		<integer>2</integer>
		<key>onSale</key>
		<false/>
		<key>perishable</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Candles</string>
		<key>price</key>
		<integer>26</integer>
		<key>onSale</key>
		<false/>
		<key>perishable</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Pen</string>
		<key>price</key>
		<integer>15</integer>
		<key>onSale</key>
		<true/>
		<key>perishable</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Notebook</string>
		<key>price</key>
		<integer>110</integer>
		<key>onSale</key>
		<false/>
		<key>perishable</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Pineapple</string>
		<key>price</key>
		<integer>31</integer>
		<key>onSale</key>
		<true/>
		<key>perishable</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Patatos</string>
		<key>price</key>
		<integer>12</integer>
		<key>onSale</key>
		<false/>
		<key>perishable</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Toilet Paper</string>
		<key>price</key>
		<integer>12</integer>
		<key>onSale</key>
		<false/>
		<key>perishable</key>
		<false/>
	</dict>
</array>
</plist>
